.container {
  max-width: 600px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    margin-bottom: 10px;

    input {
      padding: 5px;
      border: 1px solid #ccc;
    }
  }

  button {
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    span:first-child {
      flex-grow: 1;
    }

    button {
      padding: 5px 10px;
      margin-left: 10px;
      background-color: #f44336;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}

label {
  display: block;
  margin-bottom: 10px;

  input {
    padding: 5px;
    border: 1px solid #ccc;
  }
}
